/********** General **********/

* {
    font-family: 'Raleway', sans-serif;  /*ORIGINAL*/
    font-size: 16px;/*ORIGINAL*/
}

:root {
    --main-color: #0065FC;/*ORIGINAL*/
    --main-bg-color: #F2F2F2;/*ORIGINAL*/
    --filter-bg-color: #DEEBFF;/*ORIGINAL*/
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;/*ORIGINAL*/
    justify-content: center;/*ORIGINAL*/
    margin:0;
}

.main-container {
    width: 100%;/*ORIGINAL*/
    max-width: 1440px;/*ORIGINAL*/
    padding: 0 50px;/*ORIGINAL*/
    box-sizing: border-box;/*ORIGINAL*/
}

h1 {
    font-size: 1.375em;
    margin: 0px;
    margin-top: 30px;  
}

a {
    color: inherit;/*ORIGINAL*/
    text-decoration: none;/*ORIGINAL*/
}

p {
    margin: 0;
}

.card {
    background-color: white;/*ORIGINAL*/
    border-radius: 20px;/*ORIGINAL*/
    padding: 5px;/*ORIGINAL*/
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));/*ORIGINAL*/
}

.card img {
    object-fit: cover;/*ORIGINAL*/
}

.card-title {
    font-size: 16px;/*ORIGINAL*/
   
}

.euro {
    font-weight: 700;/*ORIGINAL*/
}

.neutral-star {
    color: var(--main-bg-color)/*ORIGINAL*/
}

.section-title {
    margin: 0;/*ORIGINAL*/
    font-size: 1.375em;/*ORIGINAL*/
}


/********** HEADER **********/

header {
    display: flex;
    justify-content: space-between;
}

#logo {
    height: 19px;
    padding: 30px 0px; 
}

#navbar {
    display: flex;
    padding: 0 25px;
   gap: 68px;
}

#navbar li {
    list-style: none;
}

#menu-hebergements {
    color: var(--main-color);
    border-top: 2px solid #0065fc;
    padding-top:14px;
}
 
/********** HEADLINE **********/
 
.headline p {
    margin: 0px;
    padding-top: 8px;
}

/********** Formulaire de recherche **********/

.search-container {
    display: flex;
    max-width: 377px;
    justify-content: flex-start;
    border-radius: 15px;
    width: 100%;
    margin: 35px 0px 35px 0px;
}

.search-bar {
    display: flex;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
}

.mapdot {
    background-color: #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
    border: #f2f2f2 1px solid;
}

.fa-solid.fa-location-dot {
    color: black;
    width: 50px;
    height:49px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    text-align: center;
}

input[type="text"] {
    font-weight: 700;
    font-size: 1.125em;
    border: none;
}

input[type="text"]::placeholder {
    color:black;
    font-weight: 700;
    font-size: 1.125em;
}

button {
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: #0065FC 1px solid ;
    padding: 15px 16px;
}

.mobile-icon {
    display: none;
}

.desktop-text {
    font-size: 1.125em;
    display: block;
}
 
/********** Filtres **********/

#icon-container {
    padding-right: 10px;
}

.filter-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.filter-container h3 {
    font-size: 1.125em;
    font-weight: 700;
    margin: 0px 15px 20px 0px;
    padding-top:20px;
}

.filter-bar ul {
    display: flex;
    flex-wrap: nowrap;
    padding: 0px;
    margin: 0px;
}

.filter {
    display: flex;
    margin-right: 15px;
    padding: 2px 17px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    align-items: center;
    height: 41px; 
    font-size: 1.0625em;
    font-weight: 700;      
}

.filter:hover {
    background-color: #DEEBFF;
}

.filter li {
    margin: 0px;
    padding: 0px;
}

.filter-bar i {
    margin-right: 10px;
    font-size: 22px;
    height: 22px;
    width: 22px;
}

/********** INFORMATION **********/

.info-container {
    display: flex;
    align-items: center;
    padding: 35px 0px;
}

.fa-solid.fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    font-size: 12px;
    height: 24px;
    width: 24px;
}

/********** Hebergements And Populaires **********/

.hebergements-and-populaires {
    display: flex;/*ORIGINAL*/
    justify-content: space-between;/*ORIGINAL*/
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);/*ORIGINAL*/
    border-radius: 20px;/*ORIGINAL*/
    padding: 30px;/*ORIGINAL*/
    box-sizing: border-box;/*ORIGINAL*/
}

/********** Hebergements **********/

.hebergements {
    width: 65%;/*ORIGINAL*/
    min-width: 650px;  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hebergements .card-content {
    margin-left: 15px;
    width:100%;
}

.hebergements-title {
    padding-bottom: 30px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-cards a {
    width:30%;
}

.hebergements-cards img {
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

.hebergements-cards .card {
   
   margin-bottom: 30px;
   height: 192px;
   min-width: 185px;
}

.hebergements-cards .card-title {
    margin: 0;
    padding: 4px 0px 8px 0px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    padding-bottom: 8px;
    font-size: 0.875em;
}

.hebergements-subtitle h3{
    margin: 0;
    font-size: 1.125em;
    
}

/********** Populaires **********/

.populaires {
    width: 32%;/*ORIGINAL*/
    min-width: 290px;
}

.populaires-title {
    display: flex;/*ORIGINAL*/
    justify-content: space-between;/*ORIGINAL*/
    align-items: center;/*ORIGINAL*/
}
 
.populaires-cards .card {
    display: flex;/*ORIGINAL*/
    margin-top: 33px;/*ORIGINAL*/
}

.populaires-cards img {
    width: 33%;/*ORIGINAL*/
    height:136px;/*ORIGINAL*/
    border-top-left-radius: 20px;/*ORIGINAL*/
    border-bottom-left-radius: 20px;/*ORIGINAL*/
}

.populaires-cards .card-content {
    width: 67%;/*ORIGINAL*/
    padding-left:15px;/*ORIGINAL*/
    display: flex;/*ORIGINAL*/
    flex-direction: column;/*ORIGINAL*/
    justify-content: space-between; /*ORIGINAL*/
    box-sizing: border-box;/*ORIGINAL*/
}

.populaires-cards .card-title {
    margin-top: 10px; /*ORIGINAL*/
    margin-bottom: 4px;/*ORIGINAL*/
}

.populaires-cards .card-subtitle {
    margin: 0;/*ORIGINAL*/
    font-size: 0.875em;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;/*ORIGINAL*/
}

/********** ACTIVITES **********/

.activites {
    padding: 30px;
}

.activites a {
    width: 23%;
}

.activites img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 380px;
    width: 100%;
}

.activites-title {
    padding-bottom: 30px;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
}

.activites-cards h3 {
    margin: 0;
    display: flex;
    align-items: center;
    height: 59px;
    padding-left: 19px;
}

.activites-cards .card {
    padding: 0px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

/********** FOOTER **********/

footer {
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
}

.footer-container {
    width: 32%;
}

.footer-container ul {
    list-style: none;
    padding: 0;
    padding-left: 20px;
}

.footer-container li {
    padding-bottom:15px;
}

.footer-container h3 {
    padding-left: 20px;
    font-size: 1.125em;
 }


/* Le code ci-dessous correspond à la version responsive uniquement */

                    
                /*** Media queries ***/

/***** Medium devices (tablets, less/equal than 1024px) *****/

@media (max-width: 1024px){

/********** HEBERGEMENTS AND POPULAIRES **********/
   
    .hebergements-and-populaires {
        flex-direction: column;/*ORIGINAL*/
    }

/********** HEBERGEMENTS **********/

    .hebergements {
        width: 100%;/*ORIGINAL*/
    }

/********** POPULAIRES **********/   
    
    .populaires {
        width: 100%;/*ORIGINAL*/
        margin-top: 50px;/*ORIGINAL*/
    }

    .populaires-cards {
        display: flex;/*ORIGINAL*/
        flex-direction: row;/*ORIGINAL*/
        justify-content: space-between;/*ORIGINAL*/
    }

    .populaires-cards a {
        width: 30%;/*ORIGINAL*/
    }

    .populaires-cards .card-title {
        font-size: 14px;/*ORIGINAL*/
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;/*ORIGINAL*/
    }
 
/********** ACTIVITES **********/

    .activites img {
        height:200px;
    }
    
    .activites-cards .card {
        height:270px;
    }

}


/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {

/********** GENERAL **********/
   
    .main-container{
        padding:0;
    }

    .global-info-container {
        padding: 0 20px;
    }

/********** HEADER **********/    
   
    header {
       text-align: center;
       display: block;
    }
    #logo {
        padding-bottom: 0;
    }
    
    #menu-activites {
        padding-left: 20%;
        padding-right: 20%;
        border-bottom: 2px solid #f2f2f2;
        padding-bottom: 15px;
        padding-top:14px;
        display: block;
    }

    #menu-hebergements {
        border-top: none;
        padding-bottom:15px;
        padding-left: 20%;
        padding-right: 20%;
        border-bottom: 2px solid #0065fc;
        padding-bottom: 15px;
        display: block;
    }

    #navbar {
        display: flex;
        padding: 0;
        justify-content: space-around;
        gap: unset;
        align-items: center;
    }

    #navbar li{
        width: 50%;
    }

    /********** HEADLINE **********/

    .headline {
        margin-left: 20px;
        margin-right: 20px;
    }

    /********** Formulaire de recherche **********/
    
    .search-container {
        display: block;
    }

    .search-bar {
        max-width: 335px;
        margin-left: 20px;
        margin-right: 20px
    }

    .mapdot {
        width:25%;
    }

    .fa-solid.fa-location-dot {
        width:unset;
    }

    input[type="text"] {
        width:100%;
        text-align: unset;
        margin-left: 10px
    }

    button {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        justify-content: center;
        display: flex;
    }

    .desktop-text{
        display:none;
    }
    
    .mobile-icon{
        display: block;
    }

     .fa-magnifying-glass{
        color: white;
    }

/********** FILTRE DE RECHERCHE  **********/
   
    .filter-container {
        display: block;
    }

    .filter-container h3 {
        padding-top: 0;
    }

    .filter-bar ul {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .filter {
        margin: 0;
        margin-bottom: 20px;
        width: 36%;
    }

    .filter a {
        font-size: 14px;
    }

/********** INFORMATION **********/

    .info-container {
        padding: 11px 20px 35px 20px;
    }

/********** HEBERGEMENTS AND POPULAIRES **********/
    .hebergements-and-populaires section {
        border-radius: unset;
        padding: unset;
    }

/********** POPULAIRES **********/

    .populaires {
        order: -1;
        margin-top: unset;
        display: flex;
        flex-direction: column;
        padding: 0;
    }   

    .populaires-cards {
        display: block;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;
    }
    .populaires-cards .card-title {
        padding-right: 25px;
    }
    .populaires-cards .card {
        margin-top:15px;
    }
    
    .populaires-title {
        padding-top: 30px;
        padding-left: 20px;
    }

    .populaires-title .fa-solid {
        padding-right: 20px;

    }
    
/********** HEBERGEMENTS **********/

    .hebergements {
    min-width: unset;
    max-height: unset;
    }
    
    .hebergements-and-populaires .hebergements {
        background-color: white;
    }
    
    .hebergements-title {
        padding-top: 20px;
        padding-bottom: 15px;
        padding-left: 20px;
        margin-top: 15px;
    }
   
    .hebergements-cards {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .hebergements-cards a {
        width: unset;
    }
    
    .hebergements-cards .card {
        margin-bottom: 15px;
    }
    
    .hebergements-subtitle {
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .position1 {
        order:1;
    }
    .position2 {
        order:2;
    }
    .position3 {
        order:3;
    }
    .position4 {
        order:4;
    }
    .position5 {
        order:5;
    }
    .position6 {
        order:6;
    }

    
/********** ACTIVITES ***********/

    .activites {
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .activites-cards {
        display: block;
    }

    .activites-cards img {
        height: 141px;
    }

    .activites-cards .card {
        margin-bottom: 15px;
        height: unset;
    }

/********** FOOTER **********/

    footer {
        display: block;
        padding-top: 10px;
    }

    .footer-container {
        width: 90%;
        margin-left: 10px;
        padding-bottom: 30px;
        padding-top: 20px;
    }

    .footer-container ul {
        margin: 0px;
    }

    .footer-container li {
        padding-top: 15px;
        padding-bottom: 0px;
    }
    .footer-container h3 {
        margin: 0px;
    }

}